article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  background: #040417;
  cursor: crosshair;
  font-family: 'VT323', monospace;
  text-transform: uppercase;
  max-height: 100vh; }

.outer-container {
  height: 100vh;
  overflow: auto; }

.wrapper {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.container {
  background: #040417;
  border: solid thick #0431f7;
  width: 100%;
  height: 80%; }

h2 {
  text-align: center;
  margin: 0 auto;
  font-size: 30px;
  color: #32cd24; }

.randomTarget {
  border-radius: 50%;
  position: relative;
  width: 100px;
  height: 100px;
  z-index: 0;
  visibility: hidden;
  display: inline-block; }

.info-box {
  background: #040417;
  border: solid thick #0431f7;
  border-top: none;
  height: 20%; }

.mission {
  color: #32cd24;
  border: thick solid #0431f7;
  width: 35%;
  margin: 4% auto;
  padding: 3%;
  display: block;
  text-align: center; }
  .mission h1 {
    font-size: 50px;
    margin: 0 0 25px 0; }
  .mission h3 {
    font-size: 30px;
    line-height: 20px; }
  .mission img {
    width: 50px;
    height: 50px; }
  .mission p {
    font-size: 20px; }

.start-screen {
  background: #040417;
  border: solid thick #0431f7;
  color: #0431f7;
  margin: 0 auto;
  padding: 2%;
  width: 35%;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  top: 35%;
  display: none; }
  .start-screen input {
    background: #040417;
    color: #32cd24;
    border: solid thin #32cd24;
    padding: 15px;
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center; }
  .start-screen input::-webkit-input-placeholder {
    color: #32cd24; }
  .start-screen input:-ms-input-placeholder {
    color: #32cd24; }
  .start-screen input::-ms-input-placeholder {
    color: #32cd24; }
  .start-screen input::placeholder {
    color: #32cd24; }

.reload-prompt,
.win-prompt {
  border: thick solid #32cd24;
  width: 50%;
  padding: 50px 10px;
  display: none;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  top: 35%;
  text-align: center; }

.reload-prompt {
  background: #040417; }

.win-prompt {
  background: #32cd24; }
  .win-prompt h2 {
    color: #040417; }

.mission button,
.start-screen button,
.win-prompt button {
  background: #040417;
  padding: 15px;
  margin-top: 15px;
  color: #32cd24;
  border: thin solid #32cd24;
  text-transform: uppercase;
  font-size: 20px; }

button:hover {
  background: #32cd24;
  color: #040417; }

.score-bullet-info {
  display: inline-block;
  padding: 0;
  margin: 0;
  color: #32cd24; }

.score-info,
.bullet-info,
.player-info {
  display: inline-block;
  padding: 0px 25px;
  line-height: 20px;
  text-align: center;
  font-size: 30px;
  color: #32cd24; }

.reload-btn {
  background: #040417;
  border: thick solid #32cd24;
  padding: 0% 5%;
  font-size: 50px;
  color: #32cd24;
  margin: 25px 0;
  text-transform: uppercase; }

.reload-btn:active {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9); }

@media (max-width: 1024px) {
  .mission {
    margin: 20% auto;
    width: 70%; }
    .mission h1 {
      font-size: 75px; }
    .mission h3 {
      font-size: 50px; }
    .mission p {
      font-size: 30px; }
  .score-bullet-info {
    margin: 0; }
  .reload-btn {
    margin: 25px;
    font-size: 40px; }
  .mission button,
  .start-screen button,
  .win-prompt button {
    background: #32cd24;
    color: #040417;
    margin: 0;
    font-size: 40px;
    padding: 2% 10%; }
  .start-screen {
    width: 75%; }
    .start-screen h2 {
      font-size: 50px; }
    .start-screen input {
      padding: 10px 0px;
      width: 80%;
      margin: 5% auto;
      display: block;
      font-size: 40px; }
  .reload-prompt h2,
  .win-prompt h2 {
    font-size: 50px;
    margin: 0;
    font-size: 40px;
    padding: 2% 10%; }
  .win-prompt button {
    background: #040417;
    color: #32cd24;
    margin: 3%; } }

@media (max-width: 768px) {
  .mission {
    width: 70%;
    margin: 13% auto 0 auto;
    padding: 10%; }
    .mission h1 {
      font-size: 55px; }
    .mission h3 {
      font-size: 40px; }
    .mission img {
      width: 35px;
      height: 30px; }
    .mission p {
      font-size: 23px; }
  .score-bullet-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .score-bullet-info .score-info,
    .score-bullet-info .bullet-info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      line-height: 0px;
      font-size: 30px;
      color: #32cd24; }
    .score-bullet-info .player-info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 25%; }
      .score-bullet-info .player-info h3 {
        margin: 10px 20px; }
    .score-bullet-info h3 {
      margin: 20px; } }

@media (max-width: 480px) {
  .container {
    height: 65%; }
  .info-box {
    height: 35%; }
  .mission {
    width: 100%;
    margin: 0% auto;
    padding: 10%;
    height: 100%;
    border: 0; }
    .mission img:not(#alientitle) {
      display: none; }
    .mission img {
      width: 75px;
      height: 75px; }
    .mission h1 {
      margin: 0; }
    .mission h3 {
      margin: 20px; }
    .mission p {
      margin: 15px; }
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
  .start-screen {
    border: 0;
    padding: 10%;
    top: 13%;
    width: 100%;
    position: relative; }
  .score-bullet-info {
    margin-top: 0; }
    .score-bullet-info h3 {
      font-size: 25px; }
    .score-bullet-info .player-info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      width: 100%;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
  .randomTarget {
    width: 75px;
    height: 75px; }
  .reload-btn {
    margin: 7% 10%;
    font-size: 30px;
    padding: 5%; }
  .reload-prompt,
  .win-prompt {
    width: 100%;
    top: 25%; } }

@media (max-width: 360px) {
  .mission h1 {
    font-size: 50px;
    line-height: 40px;
    margin: 10px; }
  .mission h3 {
    margin: 20px; }
  .mission img {
    width: 60px;
    height: 60px; }
  .mission p {
    font-size: 20px;
    margin: 10px; }
  .mission button,
  .start-screen button {
    font-size: 30px;
    margin: 5px; }
  .score-bullet-info h3 {
    margin: 15px; }
  .score-bullet-info .player-info h3 {
    margin: 5px 15px; }
  .start-screen h2 {
    font-size: 30px; }
  .start-screen input {
    width: 95%;
    font-size: 30px; }
  .randomTarget {
    width: 50px;
    height: 50px; }
  .win-prompt {
    top: 20%; } }
