@import "components/normalize";

// main styling for game
html, body {
    background: #040417;
    cursor: crosshair;
    font-family: 'VT323', monospace;
    text-transform: uppercase;
    max-height: 100vh;
}
.outer-container {
    height: 100vh;
    overflow: auto;
}
.wrapper {
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.container {
    background: #040417;
    border: solid thick #0431f7;
    width: 100%;
    height: 80%;
}
h2 {
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    color: #32cd24;
}
.randomTarget {
    border-radius: 50%; 
    position: relative; 
    width: 100px;
    height: 100px;  
    z-index: 0;
    visibility: hidden;
    display: inline-block;
}
.info-box {
    background: #040417;
    border: solid thick #0431f7;
    border-top: none;
    height: 20%;
}
.mission {
    color: #32cd24;
    border: thick solid #0431f7;
    width: 35%;
    margin: 4% auto;
    padding: 3%;
    display: block;
    text-align: center;
    h1 {
        font-size:50px;
        margin: 0 0 25px 0;
    }
    h3 {
        font-size: 30px;
        line-height: 20px;
    }
    img {
        width: 50px;
        height: 50px;
    }
    p {
        font-size: 20px;
    }
}
.start-screen {
    background:#040417;
    border: solid thick #0431f7;
    color: #0431f7;
    margin: 0 auto;
    padding: 2%;
    width: 35%;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    top: 35%;
    display: none;
    input {
        background: #040417;
        color: #32cd24;
        border: solid thin #32cd24;
        padding: 15px;
        margin:  10px 0;
        text-transform: uppercase;
        font-size: 20px;
        text-align: center;
    }
    input::placeholder {
        color: #32cd24;
    }
}
.reload-prompt,
.win-prompt {
    border: thick solid #32cd24;
    width: 50%;
    padding: 50px 10px;
    display: none;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    top: 35%;
    text-align: center;
}
.reload-prompt{
    background: #040417;
}
.win-prompt {
    background: #32cd24;
    h2 {
        color: #040417;
    }
}
.mission button,
.start-screen button,
.win-prompt button{
    background: #040417;
    padding: 15px;
    margin-top: 15px;
    color: #32cd24;
    border: thin solid #32cd24;
    text-transform: uppercase;
    font-size: 20px;
    }
button:hover{
    background: #32cd24;
    color: #040417;
}
.score-bullet-info {
    display: inline-block;
    padding: 2%;
    margin: 0;
    color: #32cd24;
}
.score-info,
.bullet-info,
.player-info {
    display: inline-block;
    padding: 0px 25px;
    line-height: 20px;
    text-align: center;
    font-size: 30px;
    color: #32cd24;
}
.reload-btn {
    background: #040417;
    border: thick solid #32cd24;
    padding: 0% 5%;
    font-size: 50px;
    color: #32cd24;
    margin: 20% 0%;
    text-transform: uppercase;
    }
.reload-btn:active {
    transform: scale(0.9);
}
// end main styling

@media (max-width: 1024px){
    .mission {
        margin: 20% auto;
        width: 70%;
        h1 {
            font-size: 75px;
        }
        h3 {
            font-size: 50px;
        }
        p {
            font-size: 30px;
        }
    }
    .score-bullet-info {
        margin: 10% 0%;
    }
    .reload-btn {
        margin: 30% 5%;
        font-size: 40px;
    }
.mission button,
.start-screen button,
.win-prompt button {
            background: #32cd24;
            color: #040417;
            margin: 0;
            font-size: 40px;
            padding: 2% 10%;
}
    .start-screen {
        width: 75%;
        
        h2 {
            font-size: 50px;
        }
        input {
            padding: 10px 0px;
            width: 80%;
            margin: 5% auto;
            display: block;
            font-size: 40px;
        }
    }
    .reload-prompt,
    .win-prompt {
        h2 {
            font-size: 50px;
            margin: 0;
            font-size: 40px;
            padding: 2% 10%;
        }
    }
    .win-prompt {
        button {
            background: #040417;
            color: #32cd24;
            margin: 3%;
        }
    }
}
// end media query max-width 1024px

@media (max-width: 768px){
    .mission {
        width: 70%;
        margin: 13% auto 0 auto;
        padding: 10%;
        h1 {
            font-size: 55px;
        }
        h3 {
            font-size: 40px;
        }
        img {
            width: 35px;
            height: 30px;
        }
        p {
            font-size: 23px;
        }
    }
    .score-bullet-info {
        display: flex;
        padding: 0%;
        flex-direction: column;
        .score-info,
        .bullet-info,
         {
            display: flex;
            justify-content: space-between;
            line-height: 0px;
            font-size: 30px;
            color: #32cd24;
        } 
        .player-info {
            display: flex;
            flex-direction: column;
            width: 25%;
            h3 {
                margin: 10px 20px;
            }
        }
        h3 {
            margin: 20px;
        }        
    }
}
// end media query max-width 768px

@media (max-width: 480px) {
    .container {
        height: 65%;
    }
    .info-box {
        height: 35%;
    }
    .mission {
        width: 100%;
        margin: 0% auto;
        padding: 10%;
        height: 100%;
        border: 0;
        img:not(#alientitle) {
            display: none;
        }
        img {
            width: 75px;
            height: 75px;
        }
        h1 {
            margin: 0;
        }
        h3 {
            margin: 20px;
        }
        p {
            margin: 15px;
        }
    }
    .wrapper {
        flex-direction: column-reverse;
    }
    .start-screen {
        border: 0;
        padding: 10%;
        top: 13%;
        width: 100%;
        position: relative;
    }
    .score-bullet-info {
        margin-top: 0;
        h3 {
            font-size: 25px;
        }
        .player-info {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
        }
    }
    .randomTarget {
        width: 75px;
        height: 75px;
    }
    .reload-btn {
        margin: 7% 10%;
        font-size: 30px;
        padding: 5%;
    }   
    .reload-prompt,
    .win-prompt {
        width: 100%;
        top: 25%;
    }
}
// end media query max-width 480px

@media (max-width: 360px) {
    .mission {
        h1 {
            font-size: 50px;
            line-height: 40px;
            margin: 10px;
        } 
        h3 {
            margin: 20px;
        }
        img {
            width: 60px;
            height: 60px;
        }
        p {
            font-size: 20px;
            margin: 10px;
        }
    }
    .mission button,
    .start-screen button {
            font-size: 30px;
            margin: 5px;
        }
    .score-bullet-info {
        h3 {
            margin: 15px;
        }
        .player-info h3 {
            margin: 5px 15px;
        }
    }
    .start-screen {   
        h2 {
            font-size: 30px;
        }
        input {
            width: 95%;
            font-size: 30px;
        }
    }
    .randomTarget {
        width: 50px;
        height: 50px;
    }
    .win-prompt {
        top: 20%;
    }
}
// end media query 360px;