@import "components/normalize";


body {
    cursor: crosshair;
    background: grey;
}
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}


.container {
    background: white;
    width: 100%;
    height: 500px;
    position: relative;
}
h2 {
    text-align: center;
    margin: 0 auto;
}
.randomTarget {
    background: white;
    color: red;
    border-radius: 50%; 
    position: relative;   
    display: inline-block;
}

.info-box {
    background: white;
    position: relative;
    bottom: 0;
    right: 0;
    padding: 25px;
    border: solid thick red;

}
.reload-prompt {
    background: lightblue;
    border: thick solid black;
    padding: 10px 10px;
    display: none;
    margin: 0 auto;
}


